@font-face {
    font-family: space;
    src: url(spaceinvaders.woff);
  }
  
html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*{
    touch-action: manipulation;
}

  .score{
      font-family: space;
      color: white;
      font-size: 50px;
      letter-spacing: 5px;
  }



.win{
    font-family: space;
    color: red;
    font-size: 50px; 
    -webkit-text-stroke: 0.1px white;
}



  .container {
    display: flex;
    justify-content: center;
}
.grid{
    position: absolute;
    background-image: url("background.png") ;
    background-size: contain;
    display:flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
}

#game_over{
    position: absolute;
    display: none;
   z-index:100px;
}

#win{
    position: absolute;
    text-align: center;
    height: 300px;
    width: 300px;
    background-image: url("win.gif");
    background-size: contain;
    display: none;
   z-index:1000000px;
}

.grid div{
    width: 20px;
    height: 20px;
}

.shooter{
    background-image: url("spaceship2.png");

}

.invader{

    background-image: url("invader.png");

}

.boom{
    background-image: url("giphy.gif");
    background-size: contain;
}

.laser{
    background-image: url("laser.png");
    background-size: contain;
}
/* 
#left, #right{
    width:50%;
    position: absolute;
    height: 500px;
}
#right{
    left: 50%;
}

.controls{
    padding-top: 500px;
    height:500px;
    width: 700px;
}

.direction_btn{
    float: right;
}



#shoot_btn_right{
  float: right;
  margin-left: 10px;
}
#shoot_btn_left{
    float: left;
    margin-right: 10px;
} */


.grid-container {
    margin-top: 400px;
    height:200px;
    width: 600px;
    display: grid;
    grid-template-columns: 1.6fr 0.8fr 0.6fr;
    grid-template-rows: 150px;
    gap: 0px 10px;
    grid-template-areas:
      "shoot left right";
  }





  .shoot { 
    display: flex;
    justify-content: center;
    align-items: center;
    }
  .left { grid-area: left; 
    display: flex;
    justify-content: center;
    align-items: center;}
  .right { grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center; }